:root {
    --gametile-size: 200px;
    --gametile-aspect: 1;
}

#gametilecontainer {
    max-width: calc(min(1350px, 100vw) - mod(min(1350px, 100vw), var(--gametile-size) + 16px));
}

.gametile {
    width: var(--gametile-size);
    aspect-ratio: var(--gametile-aspect);
    display: flex;
}

.gametile .card {
    width: 100%;
    height: 100%;
}

.gameimage {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gamecontrols {
    position: absolute;
    width: 100%;
    bottom: 0px;
    opacity: 75%;
}

.gamecontrolvisibility {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0);
    transition: all .25s ease;
    overflow: hidden;
}

.gamecontrolvisibility:hover {
    background-color: rgba(0,0,0,.3);
    transition: all .25s ease;
}

.gamecontrolvisibility .gamecontrolcontent {
    opacity: 0%;
    bottom: -100%;
    transition: all .25s ease-in;
    position: absolute;
    width: 100%;
    height: 100%;
}

.gamecontrolvisibility:hover .gamecontrolcontent {
    opacity: 100%;
    bottom: 0px;
    transition: all .25s ease-out;
}

.gamecontrol { 
    position: absolute;
}

.top-right {
    top: 0px;
    right: 0%;
}

.modal-content.addgame-content {
    height: 100%;
}

.modal-content.view-game-content {
    height: 100%;
}

.gamecategoryheader {
    width: 100%;
}

.gameoverlay {
    position: absolute;
    width: 100%;
    height: 100%;
}

.gamevideo {
    width: 100%;
    aspect-ratio: 16/9;
}

#websites .btn {
    width: 100%;
    text-align: left;
}

.btn-store-steam {
    --bs-btn-color: #fff;
    --bs-btn-bg: hsl(213, 69%, 31%);
    --bs-btn-border-color: hsl(213, 69%, 31%);
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: hsl(213, 69%, 27%);
    --bs-btn-hover-border-color: hsl(213, 69%, 25%);
    --bs-btn-focus-shadow-rgb: 60,153,110;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: hsl(213, 69%, 25%);
    --bs-btn-active-border-color: hsl(213, 68%, 24%);
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: hsl(213, 69%, 31%);
    --bs-btn-disabled-border-color: hsl(213, 69%, 31%);
}

.btn-store-gog {
    --bs-btn-color: #fff;
    --bs-btn-bg: hsl(288, 69%, 31%);
    --bs-btn-border-color: hsl(288, 69%, 31%);
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: hsl(288, 69%, 27%);
    --bs-btn-hover-border-color: hsl(288, 69%, 25%);
    --bs-btn-focus-shadow-rgb: 60,153,110;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: hsl(288, 69%, 25%);
    --bs-btn-active-border-color: hsl(288, 68%, 24%);
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: hsl(288, 69%, 31%);
    --bs-btn-disabled-border-color: hsl(288, 69%, 31%);
}

.btn-web-discord {
    --bs-btn-color: #fff;
    --bs-btn-bg: hsl(235, 69%, 31%);
    --bs-btn-border-color: hsl(235, 69%, 31%);
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: hsl(235, 69%, 27%);
    --bs-btn-hover-border-color: hsl(235, 69%, 25%);
    --bs-btn-focus-shadow-rgb: 60,153,110;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: hsl(235, 69%, 25%);
    --bs-btn-active-border-color: hsl(235, 68%, 24%);
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: hsl(235, 69%, 31%);
    --bs-btn-disabled-border-color: hsl(235, 69%, 31%);
}

.btn-web-reddit {
    --bs-btn-color: #fff;
    --bs-btn-bg: hsl(16, 69%, 31%);
    --bs-btn-border-color: hsl(16, 69%, 31%);
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: hsl(16, 69%, 27%);
    --bs-btn-hover-border-color: hsl(16, 69%, 25%);
    --bs-btn-focus-shadow-rgb: 60,153,110;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: hsl(16, 69%, 25%);
    --bs-btn-active-border-color: hsl(16, 68%, 24%);
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: hsl(16, 69%, 31%);
    --bs-btn-disabled-border-color: hsl(16, 69%, 31%);
}

.btn-web-twitch {
    --bs-btn-color: #fff;
    --bs-btn-bg: hsl(264, 69%, 31%);
    --bs-btn-border-color: hsl(264, 69%, 31%);
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: hsl(264, 69%, 27%);
    --bs-btn-hover-border-color: hsl(264, 69%, 25%);
    --bs-btn-focus-shadow-rgb: 60,153,110;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: hsl(264, 69%, 25%);
    --bs-btn-active-border-color: hsl(264, 68%, 24%);
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: hsl(264, 69%, 31%);
    --bs-btn-disabled-border-color: hsl(264, 69%, 31%);
}

.btn-web-igdb {
    --bs-btn-color: #fff;
    --bs-btn-bg: hsl(264, 69%, 31%);
    --bs-btn-border-color: hsl(264, 69%, 31%);
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: hsl(264, 69%, 27%);
    --bs-btn-hover-border-color: hsl(264, 69%, 25%);
    --bs-btn-focus-shadow-rgb: 60,153,110;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: hsl(264, 69%, 25%);
    --bs-btn-active-border-color: hsl(264, 68%, 24%);
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: hsl(264, 69%, 31%);
    --bs-btn-disabled-border-color: hsl(264, 69%, 31%);
}

.btn-web-instagram {
    --bs-btn-color: #fff;
    --bs-btn-bg: hsl(333, 69%, 31%);
    --bs-btn-border-color: hsl(333, 69%, 31%);
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: hsl(333, 69%, 27%);
    --bs-btn-hover-border-color: hsl(333, 69%, 25%);
    --bs-btn-focus-shadow-rgb: 60,153,110;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: hsl(333, 69%, 25%);
    --bs-btn-active-border-color: hsl(333, 68%, 24%);
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: hsl(333, 69%, 31%);
    --bs-btn-disabled-border-color: hsl(333, 69%, 31%);
}

.btn-web-x {
    --bs-btn-color: #fff;
    --bs-btn-bg: hsl(213, 0%, 10%);
    --bs-btn-border-color: hsl(213, 0%, 10%);
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: hsl(213, 0%, 7%);
    --bs-btn-hover-border-color: hsl(213, 0%, 5%);
    --bs-btn-focus-shadow-rgb: 60,153,110;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: hsl(213, 0%, 7%);
    --bs-btn-active-border-color: hsl(213, 0%, 5%);
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: hsl(213, 0%, 10%);
    --bs-btn-disabled-border-color: hsl(213, 0%, 10%);
}

.btn-store-epicgames {
    --bs-btn-color: #fff;
    --bs-btn-bg: hsl(213, 0%, 10%);
    --bs-btn-border-color: hsl(213, 0%, 10%);
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: hsl(213, 0%, 7%);
    --bs-btn-hover-border-color: hsl(213, 0%, 5%);
    --bs-btn-focus-shadow-rgb: 60,153,110;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: hsl(213, 0%, 7%);
    --bs-btn-active-border-color: hsl(213, 0%, 5%);
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: hsl(213, 0%, 10%);
    --bs-btn-disabled-border-color: hsl(213, 0%, 10%);
}

.btn-copy {
    --bs-btn-border-color: transparent;
    --bs-btn-active-border-color: transparent;
}